.key-value .dcl.field.simple {
    min-width: 0px;
    font-size: 8px;
    margin: 5px 0;
}

.key-value .dcl.field .ui.input input {
    padding: 5px 0;
    font-size: 18px;
}

.key-value .dcl.field.simple .message {
    display: none;
}

.dcl.toast.info.quest-toast {
    background-color: var(--primary);
    width: 10%;
}

.dcl.toast.info.quest-toast .title {
    font-size: 16px
}