.ui.container.full.overview-container {
    padding-top: 20px;
}

.quest-table-column-name {
    width: 20%;
    font-weight: 400;
    font-size: 13px;
    color: #736E7D
}



.line {
    background-color: #726d7c;
    height: 1px;
    opacity: 0.32;
    width: 100%
}

.ui.small.button.quests-btn {
    width: 33%;
    min-width: 0;
    padding: 7px 0;
}

.ui.button.quests-btn {
    width: 33%;
    min-width: 0;
    padding: 7px 0;
}